
results/
eth2-state-analyzer
.vscode
test*.json
.ipynb_checkpoints/**
**/venv
**/__pycache__

# custon files and configurations
results/
metrika/**
*.csv

.env
build
test*.json

# configurations
.config
.env

# build binaries
build/*

# IDE configurations
.idea
.vscode/**
